<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 NOT FOUND</title>
</head>
<style>

    *{
        margin: 0;
        padding: 0;
    }

    body{

        display: flex;
        justify-content: center;
        align-items: center;
        {{!-- background-color: black; --}}
        
    }


    .box
    {   width:90vw;
        height: 90vh;
        border: solid green 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('https://img.freepik.com/premium-vector/illustration-internet-connection-problem-concept-404-error-page-found-isolated-white-background-funny-pink-dinosaur-isolated-vector-illustration_450656-241.jpg?w=2000');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        top: 3vh;

    }   
    
</style>
<body>
    
    <div class="box"></div>

</body>
</html>